h1{

    background-color: yellow;
    border: 2px solid black;
}

@media(width :400px){
    h1{
    background-color:red;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: black;
    }
}

@media (min-width:400px){
    h1{
      background-color: green;
    }
}
@media (max-width:400px){
    h1{
      background-color: orange;
    }
}

@media (min-width:200px) and  (max-width:400px){
    h1{
        background-color: aqua;
      }
}

@media (orientation:landscape){
    h1{
      background-color: orange;
      color: white;
    }
}
