h2{
    color: rgb(255, 153, 0);
}
span{
    color: rgb(125, 83, 5);
}

#pets{
    display: flex;
    justify-content: space-evenly;
   
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    margin: 10px;
   
}
img{
    width: 100%;
    border-radius: 25px;
}
h4{
    text-align: right;
    color: rgb(8, 241, 163);
}

@media (max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
}