.box{
    height: 150px;
    width: 170px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;

}
.one{
    background-color: orange;
    position: relative;
    z-index: -3;
    
    
    
}
.two{
    background-color: brown;
    position: relative;
    bottom: 50px;
    z-index: 2;
  
    
}