<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome 1+2</h1>
    <!--Interpolation-->
    <h1> <%= 1+2 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fuga quae suscipit mollitia nostrum facilis officia, maiores quaerat eveniet possimus tempora porro autem quod deserunt quam ex at itaque magnam.</p>
    <button>click Here</button>
</body>
</html>